.banner1 {
  padding: 50px 0;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    line-height: 1;
    padding: 3em;

    .banner1__item-img {
      object-fit: cover;
      width: 700px;
      height: 350px;
    }
    .banner1__box {
      position: absolute;
      padding: 15px;
      .banner1__header {
        font-size: 20px;
        font-weight: 500;
      }

      .banner1__sub-text {
        font-size: 28px;
        font-weight: 700;
      }

      .banner1__button{
        margin-top: 1em;
        padding: 14px 26px;
        width: 150px;
        color: #000000;
        font-weight: 800;
        background: none;
        border: 1px solid #000000;
        cursor: pointer;
      }
    }
  }
}
